@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: url('/public/fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;

  font-display: swap;
  src: url('/public/fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: url('/public/fonts/Roboto-Regular.woff2') format('woff2');
}
