@use './normalize';
@use './mixins';
@use './vars';
@use './fonts';
@use './themes';

body {
  min-width: 360px;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

/* stylelint-disable-next-line selector-max-id */
#root {
  display: flex;
  background-color: var(--bg-tertiary);
}

* {
  box-sizing: border-box;
}
