.Text {
  margin: 0;

  font-size: var(--txt-size);
  font-weight: var(--txt-weight);
  line-height: var(--txt-height);
  color: var(--txt-color, inherit);
  text-align: var(--txt-align, inherit);

  @media (width <= 1024px) {
    font-size: var(
      --txt-size-lg,
      var(--txt-size-md, var(--txt-size-sm, var(--txt-size)))
    );
    font-weight: var(
      --txt-weight-lg,
      var(--txt-weight-md, var(--txt-weight-sm, var(--txt-weight)))
    );
    line-height: var(
      --txt-height-lg,
      var(--txt-height-md, var(--txt-height-sm, var(--txt-height)))
    );
    text-align: var(
      --txt-align-lg,
      var(--txt-align-md, var(--txt-align-sm, var(--txt-align)))
    );
  }

  @media (width <= 768px) {
    font-size: var(--txt-size-md, var(--txt-size-sm, var(--txt-size)));
    font-weight: var(--txt-weight-md, var(--txt-weight-sm, var(--txt-weight)));
    line-height: var(--txt-height-md, var(--txt-height-sm, var(--txt-height)));
    text-align: var(--txt-align-md, var(--txt-align-sm, var(--txt-align)));
  }

  @media (width <= 640px) {
    font-size: var(--txt-size-sm, var(--txt-size));
    font-weight: var(--txt-weight-sm, var(--txt-weight));
    line-height: var(--txt-height-sm, var(--txt-height));
    text-align: var(--txt-align-sm, var(--txt-align));
  }
}

.leader {
  position: relative;
  overflow: hidden;
  flex-grow: 1;

  &::after {
    content: '.................................................................................................................................................................................................................................................................................................';
    position: absolute;
  }
}
