.Overlay {
  cursor: pointer;

  position: fixed;
  z-index: var(--z-overlay);
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--gap-24);

  visibility: hidden;
  opacity: 0%;
  background-color: var(--bg-overlay);

  &.isOpen {
    visibility: visible;
    opacity: 100%;
  }
}

.Close {
  position: absolute;
  z-index: var(--z-modal);
  top: var(--gap-24);
  right: var(--gap-24);
}
