.button {
  cursor: pointer;

  display: inline-flex;
  gap: var(--gap-4);
  align-items: center;
  justify-content: center;

  padding: var(--gap-4);
  border: 1px solid transparent;
  border-radius: var(--radius-4);

  font-size: var(--text-button-lg);
  font-weight: var(--font-weight-regular);

  background-color: transparent;

  transition: background-color var(--ui-transition-duration) ease;
}

.primary {
  color: var(--primitive-white);
  background-color: var(--brand);

  @include hover {
    background-color: var(--brand-hover);
  }

  &:active {
    background-color: var(--brand-hover);
  }
}

.clear {
  border-color: transparent;
  color: var(--text-secondary);
  background-color: transparent;

  @include hover {
    color: var(--text-primary);
  }

  &:active {
    color: var(--text-primary);
  }
}

.clear-brand {
  border-color: transparent;
  color: var(--brand);
  background-color: transparent;
}

.close {
  width: 30px;
  height: 30px;

  background-image: url('../../assets/icons/circle-x.svg');
  background-position: center;
  background-size: cover;
}

.as-field {
  padding: var(--gap-16);
  border: 1px solid var(--border-primary);
  color: var(--text-primary);
}

.outline {
  border: 1px solid var(--text-primary);
}

[disabled] {
  cursor: not-allowed;
  opacity: 50%;
  background-color: var(--text-secondary);

  @include hover {
    background-color: var(--text-secondary);
  }
}

.offset0 {
  padding: var(--gap-0);
}

.offset4 {
  padding: var(--gap-4);
}

.offset8 {
  padding: var(--gap-8);
}
