@font-face {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: url('../assets/fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;

  font-display: swap;
  src: url('../assets/fonts/Roboto-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: url('../assets/fonts/Roboto-Regular.woff2') format('woff2');
}
