.Field {
  width: auto;
  padding: var(--gap-16);
  border: 1px solid var(--border-primary);
  border-radius: var(--radius-8);

  font: inherit;
  color: var(--text-primary);

  background-color: transparent;

  &::placeholder {
    color: var(--control-placeholder);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: var(--opacity-50);
  }

  /* Firefox */
  &[type='number'] {
    appearance: textfield;
  }
}

.Wrapper {
  position: relative;

  .Field {
    padding-right: 43px;
  }
}

.fullWidth {
  width: 100%;
}

.Icon {
  position: absolute;
  top: var(--gap-16);
  right: var(--gap-16);

  width: var(--width-24);
  height: var(--width-24);

  color: var(--text-tertiary);
}
