.RateDetailsTerm {
  position: relative;
  overflow: hidden;
  flex-grow: 1;

  &::after {
    content: '.............................................................................................................................................................................................................................................................';
    position: absolute;
  }
}
