name: CI/CD Pipeline
on:
  push:
    branches: [ master ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Production Build
        run: npm run build

      - name: Linting
        run: npm run lint
        continue-on-error: true

      - name: Prettier
        run: npm run prettier
        continue-on-error: true

      - name: Unit Tests
        run: npm run test:report
        continue-on-error: true

      - name: Storybook Build
        run: npm run storybook:build
        continue-on-error: true

      - name: Lost Pixel Visual Regression
        uses: lost-pixel/lost-pixel@v3.22.0
        env:
          LOST_PIXEL_API_KEY: ${{ secrets.LOST_PIXEL_API_KEY }}
        continue-on-error: true

      - name: Fix Permissions for Lost Pixel folder
        run: sudo chown -R $USER:$USER .lostpixel

      - name: Generate Lost Pixel HTML Report
        run: npx reg-cli .lostpixel/current .lostpixel/baseline .lostpixel/difference -R ./.lostpixel/report.html

      - name: Upload Lost Pixel Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: lost-pixel-visual-report
          path: .lostpixel/

      - name: Generate Global Report
        run: npm run generate-reports

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./reports

  deploy:
    needs: build-and-test
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        
